*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Sodo Sans Semibold';
  font-size: 10px; }

.main__container {
  position: relative;
  padding: 0 40px 0 130px; }

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2rem; }
  .card__text-right {
    color: #00754A;
    cursor: pointer; }

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350vw; }

.gift-card {
  margin-right: 2.5vw; }

.card {
  border-radius: 1.5rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14);
  width: 100%; }

.get-gift-card {
  padding-left: 0;
  margin-left: 0;
  box-sizing: border-box;
  position: absolute;
  background-color: #D4E9E2;
  width: 100%;
  margin-top: 3rem;
  padding: 20px 0px; }

.blog-container-1 {
  display: flex;
  justify-content: space-between; }
