*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Sodo Sans Semibold'; }

img {
  display: block; }

.main-container {
  display: grid;
  grid-template-rows: repeat(2/min-content) repeat(12, min-content) 1fr;
  grid-template-columns: [full-start] 1fr repeat(9, [col-start] minmax(min-content, 1fr) [col-end]) [full-end]; }

button {
  border: none;
  border: 1px solid #000;
  border-radius: 2rem;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 7px 16px; }
  button:hover {
    transition: all 0.2s ease; }

.cards {
  grid-column: col-start / col-end 9;
  position: relative;
  margin-top: 1.9rem; }
  .cards__items {
    display: flex;
    justify-content: fl ex-start;
    align-items: center;
    overflow: hidden;
    margin: 1.9rem 0;
    padding: 1rem 0; }
  .cards__text {
    font-size: 1.4rem;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.9rem; }
    .cards__text--type {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em; }
    .cards__text--see-all {
      cursor: hover;
      color: #00754A;
      font-weight: 700; }
  .cards__img {
    width: calc(100% / 4.7);
    height: 100%;
    object-fit: cover;
    margin-right: 3.2rem;
    cursor: pointer;
    border-radius: 1.5rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14); }
  .cards__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .cards__button--style {
      height: 3.7rem;
      width: 3.7rem;
      margin-top: 1rem;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.24), 0 8px 12px rgba(0, 0, 0, 0.14);
      position: relative; }
      .cards__button--style-icon {
        position: absolute;
        left: 0.8rem;
        top: 0.8rem;
        width: 2rem;
        height: 2rem; }
    .cards__button--right {
      border: none;
      right: 10px; }
    .cards__button--left {
      border: none;
      left: -10px; }

.text__cards-gift {
  background-color: #D4E9E2;
  grid-column: col-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  height: 117.09px;
  margin: 16px 0; }
  .text__cards-gift-left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .text__cards-gift-left-got-a-gift-card {
      font-size: 2.4rem;
      font-weight: bold;
      margin-right: 30px; }
    .text__cards-gift-left-earns-star {
      font-size: 1.9rem;
      color: darkgrey;
      margin-right: 3rem;
      font-weight: 100; }
    .text__cards-gift-left-btn-left {
      background-color: #D4E9E2;
      color: #000;
      padding: 0.5rem 1rem;
      margin-right: 1rem; }
      .text__cards-gift-left-btn-left:hover {
        background-color: rgba(0, 0, 0, 0.042); }
    .text__cards-gift-left-btn-right {
      color: #fff;
      background-color: #000;
      padding: 0.5rem 1rem; }
      .text__cards-gift-left-btn-right:hover {
        background-color: rgba(0, 0, 0, 0.764); }
  .text__cards-gift-right {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #00754A; }

.text__bulk-gift-cards {
  background-color: #F9F9F9;
  grid-column: col-start / full-end;
  display: grid;
  grid-template-columns: minmax(min-content, 150px) 5rem repeat(2, minmax(min-content, 150px)) 1fr 1fr;
  grid-template-rows: 56px min-content 56px; }
  .text__bulk-gift-cards-img {
    grid-row: 2 / 3;
    width: 375px; }
    .text__bulk-gift-cards-img-1 {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .text__bulk-gift-cards-text {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly; }
    .text__bulk-gift-cards-text-h3 {
      font-size: 2.4rem; }
    .text__bulk-gift-cards-text-p {
      font-size: 1.6rem;
      font-weight: 100; }
    .text__bulk-gift-cards-text-btn {
      background-color: #F9F9F9;
      padding: 0.5rem 1rem; }
      .text__bulk-gift-cards-text-btn:hover {
        background-color: rgba(0, 0, 0, 0.042); }

.cards-support {
  grid-column: col-start / full-end;
  height: 224px;
  padding: 40px 0;
  background-color: #EDEBE9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly; }
  .cards-support__h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .cards-support__p {
    font-size: 1.6rem;
    max-width: 400px;
    padding: 8px 0px; }
  .cards-support__btn-1 {
    margin: 1.6rem 1.6rem 0px 0px; }
  .cards-support__btn-2 {
    margin: 1.6rem 1.6rem 0px 0px; }
  .cards-support__btn-3 {
    margin: 1.6rem 1.6rem 0px 0px; }

.helper-blank-1 {
  background-color: #D4E9E2;
  grid-column: full-start / col-start;
  grid-row: 2 / 3;
  margin: 16px 0; }

.helper-blank-2 {
  background-color: #F9F9F9;
  grid-column: full-start / col-start;
  grid-row: 14 / 15; }

.helper-blank-3 {
  background-color: #EDEBE9;
  grid-column: full-start / col-start;
  grid-row: 15 / 16; }
