* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000; }

a {
  color: #000; }

ul {
  list-style: none; }

p {
  margin: 5px 0;
  line-height: 1.7; }

img {
  max-width: 100%; }

/* Navbar */
.navbar-brand {
  height: 50px;
  width: 50px; }

.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px; }

.navbar-nav-right svg {
  height: 20px;
  width: 20px;
  margin-right: 10px; }

.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center; }
  .navbar-nav-right li:first-child a span {
    font-size: 14px;
    font-weight: 600; }

.navbar-nav-right li button {
  font-weight: bold; }

.navbar {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 2px -2px #aeaaaa; }
  .navbar ul {
    display: flex;
    align-items: center; }
    .navbar ul li {
      margin: 0 15px;
      font-weight: bold; }
  .navbar a {
    color: black;
    text-decoration: none; }
  .navbar a:hover {
    color: #006241; }
    .navbar a:hover svg {
      fill: #006241; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap; }

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 1em;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none; }

.btn-dark-outline {
  border-color: #000;
  color: #000; }
  .btn-dark-outline:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.btn-light-outline {
  border-color: #fff;
  color: #fff; }

.btn-dark {
  background-color: #000;
  color: white; }
  .btn-dark:hover {
    background-color: #333; }

.hamburger {
  cursor: pointer;
  width: 30px;
  height: 29px;
  position: relative;
  background: none;
  z-index: 10;
  transition: all 0.25s;
  border: none;
  display: none; }
  .hamburger:hover {
    background-color: #c9c0c0;
    line-height: 30px;
    border-radius: 1em;
    line-height: 10px;
    transition: all 0.5s; }
  .hamburger--top, .hamburger--middle, .hamburger--bottom {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 2px;
    background-color: #000;
    transition: all 0.5s;
    transform: rotate(0); }
  .hamburger--top {
    transform: translateY(3px); }
  .hamburger--middle {
    transform: translateY(10px); }
  .hamburger--bottom {
    transform: translateY(17px); }

.open .hamburger--top {
  transform: rotate(45deg) translateX(7px) translateY(7px);
  transition: all 0.5s; }

.open .hamburger--middle {
  display: none; }

.open .hamburger--bottom {
  transform: rotate(-45deg) translateX(-7px) translateY(7px);
  transition: all 0.5s; }

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 80px;
  background-color: #d4e9e2;
  width: 90%;
  height: 100%;
  right: 0;
  padding: 30px;
  line-height: 4;
  box-shadow: inset 0 4px 2px -2px #aeaaaa;
  transition: 0.3s; }
  .mobile-menu ul {
    line-height: 3;
    border-bottom: 1px #777 solid;
    padding-bottom: 10px;
    margin-bottom: 30px; }
    .mobile-menu ul a {
      text-decoration: none;
      font-size: 20px; }
      .mobile-menu ul a:hover {
        color: #006241; }
  .mobile-menu img {
    width: 20px;
    height: 20px;
    margin-right: 8px; }
  .mobile-menu div {
    margin-top: 16px; }
    .mobile-menu div .btn-dark-outline {
      margin-right: 16px; }
    .mobile-menu div div a {
      display: flex;
      align-items: center;
      font-size: 16px; }

.hidden {
  transform: translateX(100%); }

.no-scroll {
  overflow: hidden; }

@media (max-width: 768px) {
  .hamburger {
    display: block; }
  .navbar-brand {
    width: 40px;
    height: 40px; }
  .navbar .navbar-nav-left,
  .navbar .navbar-nav-right {
    display: none; } }

.box {
  display: flex;
  margin: 32px 0; }

#box1 {
  background-color: #eb81a5; }

#box2 {
  background-color: #d4e9e2; }
  #box2 h1 {
    font-size: 22px;
    letter-spacing: 0; }
  #box2 p {
    margin-top: 20px;
    font-size: 16px; }

.drinks {
  flex: 1;
  display: flex;
  align-items: center; }

.content-container {
  flex: 1;
  display: flex;
  justify-content: center; }

.content {
  flex: 0.8;
  padding: 32px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .content h1 {
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 32px; }
  .content p {
    margin-top: 32px;
    font-size: 24px; }
  .content button {
    display: block;
    width: 10em;
    align-self: center;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500; }

@media (max-width: 768px) {
  .box {
    flex-direction: column; }
  .reverse {
    flex-direction: column-reverse; }
  .content-container .content {
    flex: 1;
    padding: 32px 16px; }
    .content-container .content h1 {
      margin-top: 0;
      font-size: 28px;
      letter-spacing: 0;
      margin-bottom: 0; }
    .content-container .content p {
      font-size: 22px; }
    .content-container .content button {
      margin-top: 16px;
      font-size: 14px; } }

@media (max-width: 1024px) {
  .content h1 {
    font-size: 28px; } }
